@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


* {
    margin: 0px;
    padding: 0px;
}
:root {
    --fonte1: 'Ms Madi', cursive;
    --fonte2: 'Limelight', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffea5f;
    background-image: url(/imagens/fundo-gato.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;

}

/*CONFIG HEADER--------------*/

header {
    background-color: #F28705;
    background-image: url(../imagens/pata.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 60vw 10px;
    padding-bottom: 3px;
    box-sizing: border-box;
}

header h1 {
    color: rgb(250, 208, 129);
    font-family: var(--fonte1);
    text-align: center;
    font-size: 5em;
    padding: 30px;
    padding-top: 20px;
}

nav {
    background-color: 005C39;
    margin-left: 10px;
    box-sizing: border-box;
}
nav a {
    display: inline-block;
    color: wheat;
    padding: 8px;
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 8px;
    box-sizing: border-box;

}
nav a:hover {
    background-color: #f2ab05;
    border: 1px solid rgba(255, 255, 255, 0.493);
    transform: translate(1px, 0px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
    transition: transform 0.7s, border 0.7s, 0.7s;
    box-sizing: border-box;
}

a#adote {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 10px;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: wheat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #400101;
}

a#adote:hover {
    background-color: #f2ab05;
    border: 1px solid rgba(255, 255, 255, 0.493);
    transform: translate(1px, 0px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
    transition: transform 0.7s, border 0.7s, 0.7s;    
}

/*CONFIG MAIN -----------------------------*/
main {
    background-color: rgba(255, 255, 255, 0.248);
}
.corpo {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    background-color: #ffffff;
}

article p{
    text-align: justify;
    text-indent: 30px;
    font-size: 20px;
    padding: 15px;
}
article h1 {
    background-image: linear-gradient(to right, #F28705,#F28705, #ffffff);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    color: white;
    font-family: var(--fonte2);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.459) ;
}